<nav class="navbar is-link" role="navigation" aria-label="main navigation">
      <div class="navbar-brand">
        <a class="navbar-item" href="/">
          Afoodable
        </a>

        <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false">

          <span aria-hidden="true"></span>
          <span aria-hidden="true"></span>
          <span aria-hidden="true"></span>
        </a>
      </div>
        </div>
      </div>

      <div class="navbar-end">
        <div class="navbar-item has-dropdown is-hoverable">
          <a class="navbar-link" ><i class="fas fa-user fa-fw"></i>&nbsp;<%= user.name %>
          </a>
          <div class="navbar-dropdown">
            <a class="navbar-item">Logout</a>
          </div>
        </div>
      </div>
    </nav>