<%- include('./partials/head') %>

<form action="recipes">
  <input type="submit" value="Find Recipes" />
</form>
<form action="fridge">
  <input type="submit" value="My Fridge" />
</form>
<form action="recipes/new">
  <input type="submit" value="Create New Recipe" />
</form>

<%- include('./partials/foot') %>