<%- include('./partials/head') %>

<button type="button">My Fridge</button>
<button type="button">Search Recipes</button>
<button type="button">Add New Recipe</button>

<%- include('./partials/foot') %>